name: Docker

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          # registry: opcional, default Docker Hub
          username: maria
          password: ${{ secrets.DOCKER_PASSWORD }}
