name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: ['1.18', '1.17']
        os: ['ubuntu-latest', 'ubuntu-18.04']

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
          POSTGRES_DB: root
        ports:
          - 5432:5432

    env:
      HOST: localhost
      PORT: 5432
      USER: root
      PASSWORD: root
      DBNAME: root

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go_version }}

      - name: Wait for Postgres
        run: |
          for i in {1..15}; do
            nc -z localhost 5432 && break
            echo "Aguardando Postgres subir..."
            sleep 1
          done

      - name: Test
        run: go test -v

  build:
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'ubuntu-18.04']

    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: go build -v main.go

  docker:
    needs: build
    uses: ./.github/workflows/Docker.yml
    secrets: inherit
